
.PageFooterContent{
    background-color:blueviolet;
    color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

#PageFooterContent>p{
    color:aliceblue;
}
